.banner {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bg-image.jpg');
    background-size: cover;
    background-position: center;
}

.banner-content{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .box {
        width: 15px;
        height: 15px;
        border-radius: 25px;
        display: inline-block;
    }

    .red {
        background: #FF0000;
        border: 2px solid #000;
    }

    .green {
        background: #00CC00;
        border: 2px solid #000;
    }
    .yellow {
        background: #c9cc00;
        border: 2px solid #000;
    }
    .blue {
        background: #2900cc;
        border: 2px solid #000;
    }

